# Global default for text files
# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.c     text
*.h     text
*.S     text
*.ctec  text linguist-language=C

# Build systems and scripts
Makefile    text
*.mak       text
configure   text eol=lf
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.sh        text eol=lf

# Documentation
*.txt       text
*.md        text
COPYING     text
Changelog   text
CodingStyle text
RELICENSING text
TODO        text
VERSION     text

# Binary files
*.dll       binary
*.exe       binary
*.lib       binary
*.a         binary
*.o         binary
*.ico       binary
*.png       binary
*.jpg       binary
*.pdf       binary

# Web/IDE configs
.gitignore      text
.gitattributes  text
.vscode/*.json  text
